/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background: #fffef8;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
ul a {
  text-decoration: none;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
  margin-bottom: 0px;
}

.fa-pen-to-square {
  font-size: 15px !important;
  color: #000 !important;
}

.portfolio-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  margin-left: 36%;
}

.portfolio-header h2 {
  margin: 0;
  color: #1d6154;
  text-align: center;
  font-family: Syne;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.edit-section {
  display: flex;
  align-items: center;
  gap: 10px; /* Espace entre l'icône et le bouton */
}

.edit-section i {
  font-size: 24px; /* Taille de l'icône */
  color: #1d6154; /* Couleur de l'icône */
}

#edit-link {
  text-decoration: none;
  font-size: 14px;
  color: #000;
  text-align: center;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

#categories {
  display: flex;
  width: 585px;
  height: 38px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 256px;
  margin-bottom: 25px;
}

.buttonShape {
  border-radius: 60px;
  border: 1px solid #1d6154;
  text-align: center;
  font-family: "Syne";
  font-weight: 700;
}

.active {
  background: #1d6154;
  color: white;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.logout-link {
  color: black;
  text-decoration: none;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Style pour la modal */
.modal {
  display: flex; /* Utiliser flex pour centrer le contenu */
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  z-index: 1000; /* Assurez-vous que la modal est au-dessus du contenu */
}

/* Style pour le contenu de la modal */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 60%;
  height: 60%;
  max-width: 600px; /* Limite la largeur maximale */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

.modal-content h2 {
  margin-top: 60px;
  margin-bottom: 5px;
  color: #000;
  text-align: center;
  font-family: "Work Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(5, 78px); /* 5 colonnes de largeur 78px */
  grid-template-rows: repeat(2, 104px) auto; /* 2 lignes de hauteur 104px et une ligne auto pour la dernière image */
  gap: 10px; /* Espacement entre les éléments */
  max-width: 400px; /* Ajuster la largeur totale pour correspondre à 5 images de 78px + espacements */
  margin: 0 auto; /* Centrer le conteneur */
}

.project-card {
  position: relative;
  width: 78px; /* Largeur fixe pour chaque image */
  height: 104px; /* Hauteur fixe pour chaque image */
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintenir les proportions de l'image et remplir le conteneur */
}

.delete-icon {
  position: absolute;
  top: 8px;
  right: 8px; /* Positionner à droite */
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 50%;
  color: #333;
}
.separator-line {
  width: 400px; /* Largeur de la ligne */
  height: 1px; /* Hauteur de la ligne */
  background-color: #b3b3b3; /* Couleur de la ligne */
  margin: 50px auto; /* Espacement de 30px au-dessus et centrer la ligne */
}

/* Style pour le bouton de fermeture */
.close {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.add-photo-button {
  display: block;
  width: 237px;
  height: 36px;
  background-color: #1d6154;
  color: white;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-family: "Syne";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  margin: 30px auto;
}

.hidden {
  display: none !important;
}

/* Style pour le contenu de la nouvelle modal */
#add-photo-modal .modal-content {
  position: relative;
  padding: 20px;
  width: 500px;
  max-width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#add-photo-modal .modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.back-arrow {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  cursor: pointer;
}

.photo-card {
  background-color: #e8f1f6; /* Assure-toi que la couleur reste inchangée */
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

.photo-icon {
  font-size: 48px; /* Ajuste la taille selon tes besoins */
  margin-bottom: 10px; /* Assure un espace suffisant */
}

.add-photo-button {
  display: flex; /* Utiliser Flexbox pour le centrage */
  justify-content: center; /* Centre le texte horizontalement */
  align-items: center; /* Centre le texte verticalement */
  width: 237px;
  height: 36px;
  background-color: #1d6154;
  color: white;
  text-align: center; /* Assure que le texte est centré horizontalement */
  font-family: "Syne";
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  margin: 0 auto 10px auto;
}

.add-photo-button-in-card {
  display: flex !important; /* Utiliser Flexbox pour centrer le contenu */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  width: 173px;
  height: 36px;
  border-radius: 50px;
  background: #cbd6dc;
  border: none;
  color: #306685;
  text-align: center;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin: 0 auto !important; /* Centrer horizontalement le bouton dans son conteneur */
}

.info {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
}
.photo-card i {
  font-size: 48px;
  color: #888;
}

#add-photo-modal .add-photo-button {
  background-color: #cbd6dc; /* Couleur spécifique pour le bouton dans la deuxième modal */
  color: #000; /* Couleur du texte */
}

.file-info {
  text-align: center;
  font-size: 12px;
  color: #666;
  margin-bottom: 20px;
}

#add-photo-modal label {
  display: block;
  margin: 10px 0 5px 0;
  font-weight: 700;
}

#add-photo-modal input,
#add-photo-modal select {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.back-arrow {
  border: none; /* Supprime la bordure */
  background: none; /* Supprime le fond */
  font-size: 24px;
  cursor: pointer;
}

/* Ligne en bas de la modal */
.modal-footer {
  margin-top: 20px;
  text-align: center;
}

.footer-line {
  border: 0;
  border-top: 1px solid #b3b3b3; /* Couleur et style de la ligne */
  margin-bottom: 20px; /* Espacement entre la ligne et le bouton */
}

/* Style du bouton Valider */
.validate-button {
  width: 237px;
  height: 36px;
  background-color: #1d6154;
  border: none;
  border-radius: 60px;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Styles pour la croix dans la modal d'ajout de photo */
#add-photo-modal .close {
  background: none; /* Enlève le fond */
  border: none; /* Enlève la bordure si nécessaire */
  color: #000; /* Choisis la couleur du texte ou de l'icône si besoin */
  cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
}

.image-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Assure que le conteneur prend toute la hauteur */
}
.image-preview {
  max-width: 100%;
  max-height: 168px;
  object-fit: contain; /* Pour s'assurer que l'image garde ses proportions */
  display: none;
  margin: -133px auto 0;
  /* Hide image preview initially */
}

.fa-regular {
  color: #b9c5cc !important;
}
